In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import seaborn as sns

In [5]:
data_dir= "C:\\Users\\KZ26677\\Desktop\\JD project\\EMR\\EMR\\data"

In [6]:
#read in csv export of Business Analyst data at block group level
R23_df  = pd.read_csv(os.path.join(data_dir,"r12_all_wZS_LTFC.csv"))

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (2,3,5,7,11,13,14,15,16,17,19,20,21,23,25,29,30,31,33,34,35,36,38,41,42,43,45,46,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
R23_df.head()

,table,OBJECTID,Join_Count,TARGET_FID,MKT_CLS_NM,DMC_ID,PROD_PARENT_DSC,MACHINE_SIZE,SIZE_CLASS_DSC,CTGRY_LVL_3_NM,...,F_MEAN,F_L,FxL,C_MEAN,OBJECTID.1,GEOID,ZONE_CODE,COUNT,AREA,L_MEAN
0,sag,1,1,1,SMALL AG,4346802,DEALER PERFORMANCE,24.2,UNDER 30 ENGINE HP,TRACTORS,...,0.917886,0.961676,0.040194,0.000000,210812.0,5.401797e+11,210812.0,86611.0,77949900.0,4.379005
1,sag,2,1,2,SMALL AG,4317689,DEALER PERFORMANCE,25,UNDER 30 ENGINE HP,TRACTORS,...,0.524644,0.553910,0.015354,0.000061,127102.0,3.600996e+11,127102.0,131916.0,118724400.0,2.926597
2,sag,3,1,3,SMALL AG,4346802,DEALER PERFORMANCE,24.2,UNDER 30 ENGINE HP,TRACTORS,...,0.145186,0.191079,0.006663,0.000016,213722.0,5.502501e+11,213722.0,60660.0,54594000.0,4.589268
3,sag,4,1,4,SMALL AG,1743573,DEALER PERFORMANCE,85,80 & UNDER 90 ENGINE HP,TRACTORS,...,0.000000,0.407867,0.000000,0.000000,10074.0,6.029003e+10,10074.0,858.0,772200.0,40.786713
4,sag,5,1,5,SMALL AG,1815262,DEALER PERFORMANCE,170,170 & UNDER 180 ENGINE HP,TRACTORS,...,0.346577,0.374430,0.009653,0.000000,108382.0,2.915948e+11,108382.0,261414.0,235272600.0,2.785333

In [10]:
R23_df.tail()

,table,OBJECTID,Join_Count,TARGET_FID,MKT_CLS_NM,DMC_ID,PROD_PARENT_DSC,MACHINE_SIZE,SIZE_CLASS_DSC,CTGRY_LVL_3_NM,...,F_MEAN,F_L,FxL,C_MEAN,OBJECTID.1,GEOID,ZONE_CODE,COUNT,AREA,L_MEAN
483679,low,69049,1,69049,TURF,TURF AND UTILITY,RIDING LAWN EQUIPMENT,100 SERIES LAWN TRACTORS,E100 SERIES,E130,...,100474.0,2.612520e+11,100474.0,2990.0,2691000.0,66.876254,NaN,NaN,NaN,NaN
483680,low,69050,1,69050,TURF,TURF AND UTILITY,RIDING LAWN EQUIPMENT,100 SERIES LAWN TRACTORS,E100 SERIES,E140,...,174035.0,4.503501e+11,174035.0,25877.0,23289300.0,9.677706,NaN,NaN,NaN,NaN
483681,low,69051,1,69051,TURF,TURF AND UTILITY,RIDING LAWN EQUIPMENT,RESIDENTIAL ZERO TURN MOWERS,E SERIES,Z355E,...,183645.0,4.816595e+11,183645.0,1000295.0,900265500.0,5.305190,NaN,NaN,NaN,NaN
483682,low,69052,1,69052,TURF,TURF AND UTILITY,RIDING LAWN EQUIPMENT,100 SERIES LAWN TRACTORS,E100 SERIES,E140,...,131566.0,3.608305e+11,131566.0,5949.0,5354100.0,15.462263,NaN,NaN,NaN,NaN
483683,low,69053,1,69053,TURF,TURF AND UTILITY,RIDING LAWN EQUIPMENT,RESIDENTIAL ZERO TURN MOWERS,E SERIES,Z335E,...,202468.0,5.177000e+11,202468.0,2994.0,2694600.0,68.912826,NaN,NaN,NaN,NaN

In [13]:
R23_df["MKT_CLS_NM"].value_counts()

# CTGRY_LVL_3_NM
# CTGRY_LVL_4_NM
# CTGRY_LVL_5_NM
# CTGRY_LVL_7_NM
# MODEL_NUM
# INOVICE_PRICE
# PURCHASE_TYPE
# AG_SEG_NM
# END_USE_OF_PROD_NM
# List_price
# L_MEAN

RIDING LAWN EQUIPMENT              165951
TURF                               164116
SMALL AG                            91585
TURF AND UTILITY IMPLEMENTS         23624
COMMERCIAL MOWING                   22176
UTILITY VEHICLES                    14493
EQUIPMENT FOR  UTILITY TRACTORS       512
GOLF                                   42
WALK-BEHIND PRODUCTS                   18
LARGE AG                                2
WORKSITE WORK TOOLS                     1
ISG                                     1
UTILITY (1,2,3,4,5 SERIES)              1
Name: MKT_CLS_NM, dtype: int64

In [15]:
R23_df["CTGRY_LVL_3_NM"].value_counts()

TRACTORS          86871
E100              16303
E130              11109
E110               9596
E140               8378
E170               7366
Z335E              4930
HAY AND FORAGE     4652
Z930M              4456
Z355E              4224
XUV825I            3999
E180               3620
E120               3128
D105               2919
XUV835M            2851
TX 4X2             2589
Z345M              2547
Z915E              2520
TS 4X2             2263
Z950M              2239
E150               2211
XUV835R            1907
Z525E              1786
E160               1764
XUV825M            1565
Z920M              1496
TURF TX 4X2        1319
Z960M              1267
HPX615E            1136
Z535M              1132
                  ...
GXE170E019079         1
GX355RB083724         1
M0X590E130010         1
M0X350B055176         1
GXE120E011495         1
GXZ335B072787         1
M0X390A070140         1
GXE120E021987         1
M054SBX075286         1
M0X350A065541         1
GX345RB082679         1
GXE120E029908         1
GXS240G825660         1
GX345RB081403         1
GXE140E025992         1
TC925MV040723         1
M0X350B052615         1
M0825MA013391         1
M0X390A051504         1
TC920MA060106         1
M0X350A056304         1
M0X380A036412         1
M044FBG012086         1
GXS240F827966         1
GXE110E011038         1
M0X730A061546         1
M0X590E132204         1
M054SBX090654         1
M0X350A066832         1
M054CBC134737         1
Name: CTGRY_LVL_3_NM, Length: 221761, dtype: int64

In [16]:
R23_df["CTGRY_LVL_4_NM"].value_counts()

N                              204570
UTILITY (1,2,3,4,5 SERIES)      74011
U                               23411
E100                            16303
MID (6, 7 SERIES)               12860
E130                            11109
E110                             9596
E140                             8378
E170                             7366
Z335E                            4930
4X2                              4889
Z930M                            4456
Z355E                            4224
BALERS                           3691
E180                             3620
E120                             3128
D105                             2919
XUV835M                          2851
Z345M                            2547
Z915E                            2520
Z950M                            2239
E150                             2211
825I                             2210
ATTACHMENTS                      1984
XUV835R                          1907
XUV825I                          1789
Z525E                            1786
E160                             1764
TE/TX 4X2                        1636
XUV825M                          1565
                                ...
38                                  2
WE85                                2
JS36                                2
F910/F915/F930/F935                 2
8500                                2
CP48                                2
LX266-16HP                          2
WE80                                2
LX288                               2
3215                                2
650                                 2
LX178                               1
LX176                               1
L17.542                             1
GREENSTAR/4640 GEN4 DISPLAY         1
GT225                               1
M655                                1
46                                  1
45                                  1
LT133                               1
GX355                               1
717                                 1
180B                                1
727                                 1
S2554                               1
657                                 1
4455                                1
1025 R                              1
S1642                               1
LTR180                              1
Name: CTGRY_LVL_4_NM, Length: 398, dtype: int64

In [17]:
R23_df["CTGRY_LVL_5_NM"].value_counts()

1 FAMILY TRACTORS     23554
5 FAMILY TRACTORS     16180
3 FAMILY TRACTORS     16056
2559.2                14710
1639.18               14009
6 FAMILY TRACTORS     12860
1999.2                 8600
1444.15                7984
1557.18                6806
4 FAMILY TRACTORS      6740
2879.2                 6711
3519.2                 5966
2 FAMILY TRACTORS      5834
SPECIALTY TRACTORS     5647
2239.2                 4748
2399.2                 4203
3199.2                 3947
ROUND BALERS           3640
6319.2                 2991
5839.2                 2899
1177.5                 2859
5039.2                 2588
4799.2                 2560
1899.2                 2447
3759.2                 2439
4079.2                 2382
1274.1500000000003     2340
4319.2                 2282
1721.18                2100
2139.2                 1984
                      ...
GXE110E021815             1
M0835MA012139             1
GX335EB084453             1
GXE160E017881             1
GXE130E036540             1
M0825MB011199             1
TC930MV060237             1
M04X2SJ121823             1
TCZ997R031865             1
GX335EB090687             1
GXE170E016914             1
TC652RK060359             1
M0835MD011024             1
GXE100E048301             1
M0220EA080509             1
TC930MC065309             1
GXE140E019933             1
GXD110E524496             1
GXE100E019638             1
TC202AT100299             1
GXE170E016715             1
GXE110E019395             1
GXE130E026449             1
TC1570V040029             1
GXE130E036084             1
GXE100E046989             1
TC203AF100346             1
TC636MG060320             1
GXE140E024798             1
TC930MC063560             1
Name: CTGRY_LVL_5_NM, Length: 161378, dtype: int64

In [18]:
R23_df["CTGRY_LVL_7_NM"].value_counts()

N                            137574
U                             26548
1R SERIES TRACTORS            17363
5E SERIES TRACTORS            15194
3E SERIES TRACTORS            12409
6M SERIES TRACTORS             5422
1E SERIES TRACTORS             5345
2R SERIES TRACTORS             4903
5M SERIES TRACTORS             3903
6R SERIES TRACTORS             3750
4/30/2018 0:00:00              3641
4M SERIES TRACTORS             3184
5/14/2018 0:00:00              2873
2/28/2018 0:00:00              2582
3R SERIES TRACTORS             2316
7/5/2018 0:00:00               2274
5/30/2018 0:00:00              2104
5/31/2018 0:00:00              2087
4R SERIES TRACTORS             2073
5/29/2018 0:00:00              2067
5/25/2018 0:00:00              2014
5/8/2018 0:00:00               1989
5/15/2018 0:00:00              1980
6/4/2018 0:00:00               1966
5/11/2018 0:00:00              1961
5/21/2018 0:00:00              1960
4/27/2018 0:00:00              1954
5/22/2018 0:00:00              1939
5/23/2018 0:00:00              1806
6/12/2018 0:00:00              1783
                              ...
9/9/2018 0:00:00                 20
10/7/2018 0:00:00                19
12/31/2017 0:00:00               18
ROW CROP HARVESTING UNITS        18
1/28/2018 0:00:00                18
8/26/2018 0:00:00                16
11/11/2018 0:00:00               15
9/16/2018 0:00:00                15
12/24/2017 0:00:00               15
300 SERIES                       14
9/2/2018 0:00:00                 13
1/21/2018 0:00:00                13
1/7/2018 0:00:00                 11
12/3/2017 0:00:00                11
10/28/2018 0:00:00               10
3/11/2018 0:00:00                 9
10/14/2018 0:00:00                8
11/18/2018 0:00:00                7
1/14/2018 0:00:00                 7
2/4/2018 0:00:00                  7
3/4/2018 0:00:00                  6
2/11/2018 0:00:00                 6
100 SERIES TLB                    6
11/4/2018 0:00:00                 5
AUGER PLATFORMS                   4
F SERIES TRACTORS                 4
11/22/2018 0:00:00                4
700 SERIES TRACTORS               3
12/25/2017 0:00:00                3
9 SERIES                          2
Name: CTGRY_LVL_7_NM, Length: 425, dtype: int64

In [19]:
R23_df["MODEL_NUM"].value_counts()

1025 R                17042
1639.18               12539
1967.18                7147
3025E                  5907
1274.1500000000003     5400
1023E                  5345
5075E                  4792
1444.15                4759
3038E                  4195
5055E                  3596
5065E                  3473
1274.07                2973
1557.18                2948
2025R                  2877
5045E                  2646
3032E                  2307
1639.07                2083
2038R                  2026
4044M                  1943
2295.18                1933
1444.1199999999997     1692
5115M                  1403
6110M                  1308
6155M                  1277
6120M                  1222
1721.18                1119
5100M                  1057
1274.1                 1046
5829.38                1044
4066R                  1036
                      ...
678192107.0               1
762602474.0               1
687820703.0               1
763651047.0               1
763651043.0               1
763651075.0               1
763651079.0               1
763651128.0               1
662049405.0               1
763651125.0               1
763971253.0               1
765748275.0               1
763842452.0               1
676095022.0               1
678192171.0               1
763651113.0               1
2831.62                   1
747065237.0               1
758932510.0               1
765748233.0               1
763842454.0               1
725902364.0               1
702833688.0               1
763651095.0               1
761269005.0               1
1526.27                   1
665212958.0               1
762602510.0               1
763651084.0               1
763363327.0               1
Name: MODEL_NUM, Length: 224971, dtype: int64

In [60]:
R23_df['list_price'].describe()

count    254944.000000
mean      15762.552356
std       31749.128724
min           0.000000
25%           2.000000
50%           3.000000
75%       21743.441558
max      248477.000000
Name: list_price, dtype: float64

In [25]:
R23_df['INVOICE_PRICE'].describe()

count     273333.0
unique     23929.0
top            0.0
freq      153312.0
Name: INVOICE_PRICE, dtype: float64

In [27]:
R23_df['PURCHASE_TYPE'].unique()

array(['Residential', 'Commercial', 'KS   ', 'OH   ', 'MN   ', 'ND   ',
       'GA   ', 'IA   ', 'VA   ', 'IN   ', 'FL   ', 'MO   ', 'PR   ',
       'ME   ', 'LA   ', 'WA   ', 'SC   ', 'AL   ', 'MI   ', 'TX   ',
       'TN   ', 'CO   ', 'NY   ', 'SD   ', 'NJ   ', 'KY   ', 'OK   ',
       'NM   ', 'CA   ', 'MD   ', 'IL   ', 'UT   ', 'WY   ', 'NE   ',
       'PA   ', 'CT   ', 'AZ   ', 'NC   ', 'WI   ', 'MA   ', 'ID   ',
       'NV   ', 'AR   ', 'MT   ', 'MS   ', 'VT   ', 'DE   ', 'WV   ',
       'NH   ', 'OR   ', 'HI   ', 'RI   ', 'AK   ', 'AA   ', 'DC   ',
       'VI   ', 'AP   ', 'GU   ', 'CCMH           ', 'LPO            ',
       'UNSIZEDPRODUCER', '               ', 'SPO            ', nan,
       'PARTTIME       ', 'PLC            ', 'FACILITIESMGT  ',
       'TRADITIONAL    ', 'LARGE          ', 'ASP            ',
       'PARKS/CEMETERY ', 'JDDEALER       ', 'RENTAL         ',
       'COMMERCIALOTHER', 'PUBLIC         ', 'EXTRALARGE     ',
       'CMPTVDEALER    ', 'GOLFCOURSE     ', 'FORESTRY       '],
      dtype=object)

In [29]:
R23_df["AG_SEG_NM"].unique()

array(['PLC            ', '               ', 'LPO            ', ...,
       '085754', '040415', '035049'], dtype=object)

In [30]:
R23_df["END_USE_OF_PROD_NM"].unique()

array(['RESIDENTIAL', 'GENERAL AGRI UTILITY', 'ROW CROP & SM. GRAIN',
       'BUILDING, RESIDEN.', 'LIGHT DUTY MAINT', 'CONST/MAINT:HIWAY/ST',
       'INDEPENDENT RENTL CO', 'SPECIALTY CROP', 'LIVESTK/DAIRY/FEEDLT',
       'JD DLR OWNED RNTL CO', 'PARKS', 'HIGHWAY MOWING',
       'FOREST HARVESTING', 'NURSERY & LANDSCAPE', 'BUILDING, NONRESIDEN',
       'GOLF COURSES', 'LAND IMPROVEMENT', 'JD DLR RENTAL FLEET',
       'UNDEFINED GOVT USE', 'MTL HDLG-MFG & INDUS', 'OIL FIELD',
       'RAILROADS', 'WASTE MANAGEMENT', 'PAVING:HIWAY/ST/LOT',
       'OTHER END USE', 'CONST/MNT:RUNWAY/APR',
       'LANDSCAPE & PROPERTY MANAGEMENT', 'LANDFILL & REFUSE',
       'STONE/AGGREG. MINING', 'TELEPHONE COMPANY', 'SEWER & WATER SYS.',
       'GAS,WATER,ELEC UTIL', 'REFORESTA./SITE PREP', 'HORSE FARM',
       'ENVIRONMENTL CLEANUP', 'CEMETERIES', 'RECYCLING',
       'ENRGY RELATED PIPELN', 'LOADING&HANDLNG WOOD', 'FORESTRY ROADS',
       'EARTHMOVING NONRESID', 'NOT SPECIFIED', 'WOOD HANDLING YARDS',
       'MTL HDG-CHEM PLANT', 'EARTHMOVING RESIDEN.', 'DEMOLITION',
       'MATERIAL HANDLING', 'BRIDGES & STRUCTURES', 'SCRAP HANDLING',
       'METALLIC MINING', 'MTL HDLG-PORT/STEVDR', 'FORESTRY SERVICES',
       'MTL HDG-STEEL MILL', 'EXCAVATING', 'MTL HDL-SAND/GR/STON',
       'UNKNOWN END USE =30', '12/13/2018 0:00:00', 'N', 'Y'],
      dtype=object)

In [33]:
R23_df["L_MEAN"].describe()

count    91424.000000
mean        13.555564
std         15.445818
min          0.012266
25%          4.050114
50%          6.157350
75%         16.761791
max         85.416667
Name: L_MEAN, dtype: float64

In [51]:
small_df = R23_df[["GEOID","COUNT",'INVOICE_PRICE','list_price']]
small_df.head()

          GEOID     COUNT INVOICE_PRICE     list_price
0  5.401797e+11   86611.0       18855.5   24487.597403
1  3.600996e+11  131916.0       13076.8   16982.857143
2  5.502501e+11   60660.0       11043.2   14341.818182
3  6.029003e+10     858.0       39721.2   51586.000000
4  2.915948e+11  261414.0        130890  169987.000000

In [66]:
small_df.groupby("GEOID")["list_price"].sum()
small_df.groupby("GEOID")["INVOICE_PRICE"].sum()

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
R23_df.shape

(483684, 73)

In [57]:
sum(R23_df['PY_STATE'].isna())/483684
#28% of data don't have record for the state

0.2818947908138371

In [63]:
small_df.groupby("GEOID")["INVOICE_PRICE"]

277385.2727272727

In [73]:
 



ind = small_df["INVOICE_PRICE"].apply(lambda x :isinstance(x, str))
small_df["INVOICE_PRICE"][ind]

163840            0
163841            0
163842            0
163843            0
163844            0
163845            0
163846            0
163847            0
163848            0
163849            0
163850            0
163851            0
163852            0
163853            0
163854            0
163855            0
163856            0
163857            0
163858            0
163859    105385967
163860    107145327
163861            0
163862            0
163863            0
163864            0
163865            0
163866            0
163867            0
163868            0
163869            0
            ...
401378            0
401379            0
401380            0
401381            0
401382            0
401383            0
401384            0
401385            0
401386            0
401387            0
401388            0
401389            0
401390            0
401391            0
401392            0
401393            0
401394            0
401395            0
401396            0
401397            0
401398            0
401399            0
401400            0
401401            0
401402            0
401403            0
401404            0
401405            0
401406            0
401407            0
Name: INVOICE_PRICE, Length: 27259, dtype: object

In [75]:
small_df["INVOICE_PRICE"][ind].count()/483684
# 5% of the Invoiced price is str(weird)

0.056357043028092725

In [87]:
def operation(x):
    try:
        return(float(x))        #运行try语句块，并试图捕获异常
    except ValueError:
        return(x)
         
ind = (small_df["INVOICE_PRICE"].fillna(0).apply(lambda x :operation(x)).apply(lambda x :isinstance(x, str)))
small_df["INVOICE_PRICE"][ind]

171607                     HARTEMA ENTERPRISES LLC
171609                              HEARTLAND PORK
171610                T.S. & K.D. GLIDE FOUNDATION
171614                        CHARLES E HOOD MD PA
171639                           BUCKEYE BOAT CLUB
171644               KILLGORE LAND MANAGEMENT, LLC
171712                              HOGSBACK FARMS
171714                           AKERS FARMS, INC.
171758                  BODENSTEINER IMPLEMENT CO.
171775                                SIGN COUNTRY
171859                      ROBERT MORRIS TRUCKING
171871                         ALLEMAN HIGH SCHOOL
171874                  DICK LEDGERWOOD & SON  INC
171890                          TIEMANN PROPERITES
171906                                    LITTLE'S
171932     PINNACLE AGRICULTURE DISTRIBUTION INC -
171936                            DOW AGROSCIENCES
171952                               THLAWN WIZARD
171961                          CAPITAL AUTO SALES
171968                 DFW SMALL ENGINE CENTER INC
171970                      HOLLAND AND SONS, INC.
171974                                  LAYERS INC
171987              ST ELIZABETH'S CATHOLIC CHURCH
171998                          JERSEY SHORE GLASS
172014                             SUNSHINE RESORT
172052                      HERITAGE TRACTOR, INC.
172055            CECIL SAND AND GRAVEL & REDI MIX
172063                        ROEDER OUTDOOR POWER
172068                   TRACTOR CENTRAL - CAMERON
172126                     STRIBLING EQUIPMENT LLC
                            ...
399166                          MAIERS LANDSCAPING
399173                           R & J FARMS, LTD.
399186                            BONE CREEK RANCH
399197                          LYLES POULTRY FARM
399224                             DAVID OSTERHAUS
399243                    TROXEL EQUIPMENT CO  LLC
399257               POWERS AUCTION - TURF AUCTION
399262                        TWO LUCKY DOGS, INC.
399263                               KONSELA, IVAN
399265                MOUNTAIN VIEW EQUIPMENT, LLC
399305                      WM WARNER CONSTRUCTION
399307           CHOCTAW NATION FACILITY MANAGMENT
399311                 FOUR SEASONS TREE FARM  LLC
399312                           REUSS ENGINEERING
399320                                 CREST FOODS
399341                           US POSTAL SERVICE
399342                       MORTENSON MASONRY INC
399377                          SPRING MEADOW FARM
399399                          LORENZEN FARMS LLC
399429                      ROTH ENTERPRISES, INC.
399449                                     TBH LLC
399453                           ORTIZ MAINTENANCE
399466                     FELT SCHOOL DISTRICT 10
399483                        DELTA BAPTIST CHURCH
399507    HARRINGTONS LAWN CARE AND LANDSCAPING IN
399517                        M & T EXCAVATING INC
399550                    TROXEL EQUIPMENT CO  LLC
399552                                 ARGYLL FARM
399571                            ST PE-GRAHAM LFP
399576                     WALDRON'S OUTDOOR EQUIP
Name: INVOICE_PRICE, Length: 17637, dtype: object

In [89]:
 17637/R23_df.shape[0]

0.03646388964695958